<!DOCTYPE html>
<html lang="ru-RU" xmlns="http://www.w3.org/1999/xhtml">
<head>
	<?php include dirname(__FILE__)."/headTags.html"?>

	<title>Мои книги</title>
</head>
<body>
	<div class="modal fade" id="addBookModal" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Добавить книгу</h4>
				</div>
				<form id="addForm" method="POST">
					<input type="hidden" name="action" value="add">
					<div class="modal-body">
						<p>Можно, конечно, вписывать название, автора, обложку выбирать, но достаточно</p>
						<div class="form-group">
							<label for="bookUrl">Ссылки на <a href="https://livelib.ru/find" target="_blank">LiveLib</a></label>
							<input class="form-control" name="bookUrl" id="bookUrl" placeholder="Вставьте ссылку на книгу на сайте LiveLib" required autocomplete="off" autofocus>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
						<input type="submit" class="btn btn-info" value="Добавить">
					</div>
				</form>
			</div>
		</div>
	</div>
	
	<?php include dirname(__FILE__)."/navbar.html"?>

	<div class="container container-behind-nav">
		<div class="page-header">
			<h1>Мои книги</h1>
			<button class="btn btn-info" data-toggle="modal" data-target="#addBookModal"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;Добавить</button>
		</div>
		<?php if ($showStatus): ?>
			<div class="alert <?=$statusClass ?>" role="alert"><?=$statusText ?></div>
		<?php endif; ?>
		<?php if(count($books) == 0): ?>
			<p class="lead">Пока что здесь пусто</p>
		<?php else: ?>
			<div id="booksGrid" data-columns>
				<?php foreach($books as $book): ?>
					<div class="book">
						<a href="./quotes?book=<?=$book['id']?>">
						<div class="thumbnail">
							<div class="book-badges">
								<?php if (intval($user["reading_book_id"]) === $book["id"]): ?>
									<span class="label label-info label-as-badge" data-toggle="tooltip" data-placement="bottom" title="Используется для экспорта из Twitter"><img src="icon/twitter-icon.svg"></span></span>
								<?php endif; ?>
								<span class="label label-primary label-as-badge" data-toggle="tooltip" data-placement="bottom" title="Количество цитат"><?=$book["quotesCount"]?></span>
							</div>
							<img src="<?=$book['cover']?>" alt="<?=$book['title']?>">
							<div class="caption">
								<h4><?=$book["title"]?></h4>
								<p><?=$book["author"]?></p>
							</div>
						</div>
						</a>
					</div>
				<?php endforeach; ?>	
			</div>
		<?php endif; ?>
	</div>

	<?php include dirname(__FILE__)."/footer.html"?>

	<script src="./js/tools/salvattore.min.js"></script>
	<script>
		$(document).ready(function(){
			$('[data-toggle="tooltip"]').tooltip();   
			$(".modal").on("shown.bs.modal", function() {
				$(this).find("[autofocus]").focus();
			});
		});
	</script>
</body>
</html>