<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarCollapse" aria-expanded="false">
				<span class="sr-only">Навигация</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="./">
				<img alt="Brand" src="icon/icon60.png">
			</a>
		</div>
		<div class="collapse navbar-collapse" id="navbarCollapse">
			<ul class="nav navbar-nav">
				<li class="<?=($activeTab===0)?"active":""?>"><a href="./books">Мои книги</a></li>
				<li class="<?=($activeTab===1)?"active":""?>"><a href="./quotes">Мои цитаты</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li><p class="navbar-text"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp;<?=$user["name"]?></p></li>
				<li><a href="./logout"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>&nbsp;Выйти</a></li>
			</ul>
		</div>
	</div>
</nav>