<!DOCTYPE html>
<html lang="ru-RU" xmlns="http://www.w3.org/1999/xhtml">
<head>
	<?php include dirname(__FILE__)."/headTags.html"?>

	<title>Мой профиль</title>
</head>
<body>

	<?php include dirname(__FILE__)."/navbar.html"?>

	<div class="container container-behind-nav">
		<div class="page-header">
			<h1>Параметры профиля</h1>
			<?php if ($showStatus): ?>
				<br>
				<div class="alert <?=$statusClass ?>" role="alert"><?=$statusText ?></div>
			<?php endif; ?>
		</div>

		<h3>Экспорт через Twitter</h3>
		<div class="row">
			<div class="col-sm-6">
				<form class="form-horizontal">
					<div class="form-group">
						<label class="col-sm-5 control-label">Учетная запись:</label>
						<div class="col-sm-7">
							<p class="form-control-static">
							<?=($user["twitter_name"] !== null) ? $user["twitter_name"] : "не указана"?>
							</p>
							<script src="//ulogin.ru/js/ulogin.js"></script>
							<div id="uLogin" data-ulogin="display=panel;fields=first_name;theme=flat;providers=twitter;hidden=;redirect_uri=http%3A%2F%2Fpc.radiokot.com.ua%2Fprofile;mobilebuttons=0;"></div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>

	<?php include dirname(__FILE__)."/footer.html"?>
</body>
</html>