<!DOCTYPE html>
<html lang="ru-RU" xmlns="http://www.w3.org/1999/xhtml">
<head>
	<?php include dirname(__FILE__)."/headTags.html"?>

	<title><?=($activeTab===1)?"Мои цитаты":$book["title"]?></title>
</head>
<body>
	<div class="modal fade" id="addQuoteModal" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Добавить цитату</h4>
				</div>
				<form id="addForm" method="POST">
					<input type="hidden" name="action" value="add">
					<div class="modal-body">
						<div class="form-group">
							<label for="quoteText">Текст цитаты</label>
							<textarea class="form-control" name="quoteText" id="quoteText" rows="5" required autocomplete="off" autofocus></textarea> 
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
						<input type="submit" class="btn btn-info" value="Добавить">
					</div>
				</form>
			</div>
		</div>
	</div>

	<div class="modal fade" id="updateQuoteModal" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Изменить цитату</h4>
				</div>
				<form id="updateForm" method="POST">
					<input type="hidden" name="action" value="update">
					<input type="hidden" name="updateQuoteId">
					<div class="modal-body">
						<div class="form-group">
							<label for="quoteText">Текст цитаты</label>
							<textarea class="form-control" name="quoteText" id="uptateQuoteText" rows="5" required autocomplete="off" autofocus></textarea> 
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
						<input type="submit" class="btn btn-info" value="Изменить">
					</div>
				</form>
			</div>
		</div>
	</div>

	<div class="modal fade" id="deleteQuoteModal" tabindex="-1" role="dialog">
		<div class="modal-dialog modal-sm" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Удалить цитату?</h4>
				</div>
				<form id="deleteQuoteForm" method="POST">
					<input type="hidden" name="action" value="delete">
					<input type="hidden" name="deleteQuoteId">
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
						<input type="submit" class="btn btn-danger" value="Удалить">
					</div>
				</form>
			</div>
		</div>
	</div>

	<div class="modal fade" id="deleteBookModal" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Удалить книгу?</h4>
				</div>
				<form id="deleteQuoteForm" method="POST" action="./books">
					<input type="hidden" name="action" value="delete">
					<input type="hidden" name="deleteBookId" value="<?=$book['id']?>">
					<div class="modal-body">
						<p>Будет удалена книга «<?=$book['title']?>» и все цитаты из нее.</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
						<input type="submit" class="btn btn-danger" value="Удалить">
					</div>
				</form>
			</div>
		</div>
	</div>
	
	<?php include dirname(__FILE__)."/navbar.html"?>

	<div class="container container-behind-nav">
		<div class="page-header">
			<h1><?=($activeTab===1)?"Мои цитаты":$book['title']?></h1>
			<?php if($activeTab!==1): ?>
				<p class="lead"><?=$book['author']?></p>
				<div class="btn-toolbar">
					<button class="btn btn-info" data-toggle="modal" data-target="#addQuoteModal"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;Добавить цитату</button>
					<div class="btn-group">
						<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span>
						</button>
						<ul class="dropdown-menu pull-right">
							<li>
								<form id="switchTwitterExport" method="POST">
									<input type="hidden" name="action" value="switchTwitterExport">
								</form>
								<a href="#" onclick="document.getElementById('switchTwitterExport').submit();">
								<?php if($isTwitterBook): ?>
									<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>&nbsp;
								<?php endif; ?>
								Экспорт из Twitter</a>
							</li>
							<li role="separator" class="divider"></li>
							<li><a href="#deleteBookModal" data-toggle="modal" data-target="#deleteBookModal">Удалить книгу</a></li>
						</ul>
					</div>
				</div>
			<?php endif; ?>
			<?php if ($showStatus): ?>
				<br>
				<div class="alert <?=$statusClass ?>" role="alert"><?=$statusText ?></div>
			<?php endif; ?>
		</div>
		<?php if(count($quotes) == 0): ?>
			<p class="lead">Пока что здесь пусто</p>
		<?php else: ?>
			<div id="quotesGrid" data-columns>
				<?php foreach($quotes as $quote): ?>
					<blockquote>
						<p id="quoteText<?=$quote['id']?>"><?= nl2br($quote["text"])?></p>
						<?php if ($activeTab===1): ?>
							<small><a href="./quotes?book=<?=$quote['bookId']?>"><?=$quote["bookTitle"]?></a></small>
						<?php endif; ?>
						<?php if($activeTab!==1): ?>
							<a class="btn btn-link" data-toggle="modal" data-target="#deleteQuoteModal" data-id="<?=$quote['id']?>">
								<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
							</a>
							&nbsp;
							<a class="btn btn-link" data-toggle="modal" data-target="#updateQuoteModal" data-id="<?=$quote['id']?>">
								<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
							</a>
						<?php endif; ?>
					</blockquote>
				<?php endforeach; ?>	
			</div>
		<?php endif; ?>
	</div>

	<?php include dirname(__FILE__)."/footer.html"?>

	<script src="./js/tools/salvattore.min.js"></script>
	<script>
		$(document).ready(function(){
			$('[data-toggle="tooltip"]').tooltip();   
			$(".modal").on("shown.bs.modal", function() {
				$(this).find("[autofocus]").focus();
			});
			$("#quoteText").keydown(function (e) {
				if ((e.ctrlKey || e.metaKey) && (e.keyCode == 13 || e.keyCode == 10)) {
					let form = $("#addForm");
					if (!form[0].checkValidity()) {
						form.find(":submit").click();
					} else {
						form.submit();
					}
				}
			});
			$("#uptateQuoteText").keydown(function (e) {
				if ((e.ctrlKey || e.metaKey) && (e.keyCode == 13 || e.keyCode == 10)) {
					let form = $("#updateForm");
					if (!form[0].checkValidity()) {
						form.find(":submit").click();
					} else {
						form.submit();
					}
				}
			});
			$("#deleteQuoteModal").on("show.bs.modal", function (event) {
				let button = $(event.relatedTarget);
				let id = button.data("id");
				let modal = $(this);
				modal.find("input[name=deleteQuoteId]").val(id);
			})
			$("#updateQuoteModal").on("show.bs.modal", function (event) {
				let button = $(event.relatedTarget);
				let id = button.data("id");
				let modal = $(this);
				modal.find("input[name=updateQuoteId]").val(id);
				let quoteText = $("#quoteText" + id).text();
				modal.find("textarea[name=quoteText]").val(quoteText);
			})
		});
	</script>
</body>
</html>